<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer-padding">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
        </ul>
      </div>
      <div>
        {%- include social.html -%}
      </div>
      <div>
        <p style="font-size: 0.5rem;">{{- site.desCN | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
<script src="{{ "/js/jquery-3.5.1.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/md5.min.js " | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/utils.js " | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/header.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gitalk.min.js " | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/comment.js " | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/siderBar.js " | prepend: site.baseurl }}"></script>
<!--<script type="module" src="{{ "/js/jquery.nav.j
s " | prepend: site.baseurl }}"></script>-->
