<div style="width: 100%;">
    <ul class="navbar-nav" style="float:right;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi-globe2">中文</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 0.5rem;">
                <a class="dropdown-item drop-active" href="#">中文</a>
                <a class="dropdown-item" href="#">English</a>
            </div>
        </li>
    </ul>
</div>