---
layout: page
---
<div id="archive">
    <div class="left">
        <ul class="list-group list-group-flush">
            {%- if site.posts.size > 0 -%}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in site.posts -%}
            <li class="list-group-item" style="display: none">
                <div class="liDiv" data-cate="{{post.categories | join:',' }}">
                    <div><a href="{{ post.url | relative_url }}" style="font-size: 1.1rem;">{{ post.title | escape }}</a></div>
                    <div>
                        {%- for category in post.categories offset:1  -%}
                        <span class="badge badge-pill badge-light" style="margin-left: 0.5rem;">
                            {{ category }}
                        </span>
                        {%- endfor -%}
                    </div>
                    <div>{{ post.date | date: date_format }}</div>
                </div>
            </li>
            {%- endfor -%}
            {%- endif -%}
        </ul>
    </div>
    <div class="right">
        <div class="head">category</div>
        <div>
            <ul class="list-group">
                {%- for category in site.categories offset:1  -%}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ site.baseurl }}/archive/?category={{ category[0] | url_encode }}" title="{{ category[0] }}">{{ category[0] }}</a>
                    <span class="badge badge-category badge-pill">{{category.last|size}}</span>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
    {{ content }}
</div>

