---
layout: page
---
<div id="archive">
    <div class="left">
        <ul class="list-group list-group-flush">
            {%- if site.posts.size > 0 -%}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in site.posts -%}
            <li class="list-group-item">
                <div class="liDiv">
                    <div><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></div>
                    <div>
                        {%- for category in post.categories offset:1  -%}
                        <span class="badge badge-pill badge-light">
                            {{ category }}
                        </span>
                        {%- endfor -%}
                    </div>
                    <div>{{ post.date | date: date_format }}</div>
                </div>
            </li>
            {%- endfor -%}
            {%- endif -%}
        </ul>
    </div>
    <div class="right">

    </div>
    {{ content }}
</div>

